<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css"/>

<div class="bg-info" style="color:white;padding:10px;">
    <a href="/" style="color:white;text-decoration: none;"><h1>Django Login</h1></a>
    <h2>by Fransiscus Emmanuel Bunaren</h2>
</div>

<!-- navbar -->
<div class="shadow-sm p-3 mb-5 bg-white rounded" style="border:1px solid white;">
    <a href="/"><button class="btn btn-success">Homepage</button></a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}?next=/"><button class="btn btn-danger">Logout</button></a>
    {% else %}
        <a href="login"><button class="btn btn-success">Login</button></a>
        <a href="register"><button class="btn btn-success">Register</button></a>
    {% endif %}
</div>

<style>
    .box{
        max-width:500px;margin:auto;border:1px solid;margin-top:10px;
    }

    .helptext{
        display: none;
    }
</style>