{% load static %}

{% include 'header.html' %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}! 👋
  <br/>Your first name is {{ user.first_name }}
  <br/>Your last name is {{ user.last_name }}
  <br/>Your email is {{ user.email }}
  <p><a href="{% url 'logout' %}?next=/">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="/login">Click here to login</a>
  or click on the login button in navigation bar
{% endif %}
{% endblock %}