{% load static %}

{% include 'header.html' %}

<div class="box">
    <h2 style="text-align:center;color:white;border: 1px solid white;padding:10px;" class="bg-success">🔒Login</h2>
    <form method="post">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <center><button class="btn btn-success" type="submit" style="margin-top:10px;">🗝️Login</button></center>
    </form>

    {% include 'rules.html' %}
</div>

<br/>
<br/>