{% load static %}

{% include 'header.html' %}

<div class="box">
    <h2 style="text-align:center;color:white;border: 1px solid white;padding:10px;" class="bg-success">👋 Sign Up</h2>
    <form method="post">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td><b>First name :</b></td>
                <td><input type="text" name="first_name" value=""></input></td>
            </tr>
            <tr>
                <td><b>Last name :</b></td>
                <td><input type="text" name="last_name" value=""></input></td>
            </tr>
            <tr>
                <td><b>Email :</b></td>
                <td><input type="Email" name="email" value=""></input></td>
            </tr>
            <tr>
                <td><b>Photo URL :</b></td>
                <td><input type="text" name="photo_url" value=""></input></td>
            </tr>
        </table>
        <center><button class="btn btn-success" type="submit" style="margin-top:10px;">Sign Up</button></center>
    </form>

    {% include 'rules.html' %}
</div>

<br/>
<br/>