<li/><b>Username : </b> 
<br/>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.

<br/><br/>

<li/><b>Password : </b>
<br/>Your password can’t be too similar to your other personal information.
<br/>Your password must contain at least 8 characters.
<br/>Your password can’t be a commonly used password.
<br/>Your password can’t be entirely numeric.

<br/><br/>

<li/><b>Password Confirmation :</b>
<br/>Enter the same password as before, for verification.